src/main/resources/wsdl/LNetworkServer/xsd38.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.ContactInformation"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.ContactInformation"
           xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/">
    <xs:import schemaLocation="xsd1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
    <xs:simpleType name="EmailAddressOwner">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Employee"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EmailAddressOwner" nillable="true" type="tns:EmailAddressOwner"/>
    <xs:complexType name="ArrayOfEmailAddressInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailAddressInfo" nillable="true"
                        type="tns:EmailAddressInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfEmailAddressInfo" nillable="true" type="tns:ArrayOfEmailAddressInfo"/>
    <xs:complexType name="EmailAddressInfo">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:EmailAddressSaveData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Id" type="ser:guid"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="EmailAddressInfo" nillable="true" type="tns:EmailAddressInfo"/>
    <xs:complexType name="EmailAddressSaveData">
        <xs:sequence>
            <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="EmailOrder" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EmailAddressSaveData" nillable="true" type="tns:EmailAddressSaveData"/>
    <xs:simpleType name="PhoneNumberOwner">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Employee"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="PhoneNumberOwner" nillable="true" type="tns:PhoneNumberOwner"/>
    <xs:complexType name="ArrayOfPhoneNumberInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneNumberInfo" nillable="true"
                        type="tns:PhoneNumberInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfPhoneNumberInfo" nillable="true" type="tns:ArrayOfPhoneNumberInfo"/>
    <xs:complexType name="PhoneNumberInfo">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:PhoneNumberSaveData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Id" type="ser:guid"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="PhoneNumberInfo" nillable="true" type="tns:PhoneNumberInfo"/>
    <xs:complexType name="PhoneNumberSaveData">
        <xs:sequence>
            <xs:element minOccurs="0" name="CityCode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="PhoneOrder" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PhoneNumberSaveData" nillable="true" type="tns:PhoneNumberSaveData"/>
    <xs:complexType name="ArrayOfEmailDistributionAddressInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailDistributionAddressInfo" nillable="true"
                        type="tns:EmailDistributionAddressInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfEmailDistributionAddressInfo" nillable="true"
                type="tns:ArrayOfEmailDistributionAddressInfo"/>
    <xs:complexType name="EmailDistributionAddressInfo">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:EmailDistributionAddressSaveData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Id" type="ser:guid"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="EmailDistributionAddressInfo" nillable="true" type="tns:EmailDistributionAddressInfo"/>
    <xs:complexType name="EmailDistributionAddressSaveData">
        <xs:sequence>
            <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="IsAuthenticationRequired" type="xs:boolean"/>
            <xs:element minOccurs="0" name="IsSPARequired" type="xs:boolean"/>
            <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="SenderEmailAddress" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="SenderName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="SmtpEncryptionType" type="tns:SmtpEncryptionType"/>
            <xs:element minOccurs="0" name="SmtpServerAddress" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="SmtpServerPort" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EmailDistributionAddressSaveData" nillable="true" type="tns:EmailDistributionAddressSaveData"/>
    <xs:simpleType name="SmtpEncryptionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NotRequired"/>
            <xs:enumeration value="SSL"/>
            <xs:enumeration value="TLS"/>
            <xs:enumeration value="Auto"/>
            <xs:enumeration value="StartTls"/>
            <xs:enumeration value="StartTlsWhenAvailable"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="SmtpEncryptionType" nillable="true" type="tns:SmtpEncryptionType"/>
</xs:schema>
